
<% include ../header %>
<!-- Orders list -->


        <div class="container">
          <% include ../errors %>
                    </div> 
          <div class="row">
              
            <div class="col-md-8 m-auto">
                
              <h3 class="display-4 text-center">All Orders</h3>
             
                 
                  <form hidden id="DeleteForm" method="POST" action="/order-delete">
                    <input type="text" id="delUrlId" name="urlId"><br><br>
                    <!-- <input type="button" value="Submit form"> -->
                  </form>  
            </div>
          </div>
          <div class="container-fluid">
          <table id="myTable" class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Address</th>
                <th scope="col">Item(s) Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
               <% var itemName =''; var tPrice = 0; %>
              <% orders.forEach(function(order){ %>
       
                <tr id="tr<%=order._id%>">
                   
                    <td><%=order.urlId%></td>
                    <td><%=order.customer.name%></td>
                    <td><%=order.customer.address%></td>
                    <td>
                    <% for(var i = 0; i< order.items.length; i++){ %>                    
                      <% itemName += order.items[i].item.name %>
                      <ul><li><%=itemName%></li></ul>            
            
                       <!-- reset itemName every row -->
                      <% itemName ='' %>
                     <% } %>
                    </td>
                    
                   
                    <td><a href="/orders/details/<%=order.urlId%>" title="Order Details"><i class="fas fa-list"></i></a>
                      | <a href="JavaScript:void(0);" onclick="goDelete('<%=order.urlId%>')" title="Delete Order"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                
              <% }) %>
        
             
            </tbody>
          </table> 
            
        </div>

         
        <% include ../footer %>

        <script>
          //submit DeleteForm
        function goDelete(id){
          document.getElementById('delUrlId').value = id;
          document.getElementById("DeleteForm").submit();
        }
     
        </script>

        <% include ../bottom %>

      
      